@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap');

/* @import 'https://use.fontawesome.com/releases/v6.4.0/css/all.css'; */

* {
    padding: 0;
    margin: 0;
}

*, *::before, *::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font: 16px/1.5 'Inter', sans-serif;
}

body, input, textarea {
    font: inherit;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5em;
    line-height: 1.2;
}

h1 { font-size: 2.8em; }
h2 { font-size: 2.2em; }
h3 { font-size: 1.8em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1em; }

p, ul, ol, dl {
    padding-bottom: 1.5em;
}

/* enter - #464a4f
    5min - #afbac1
    p - #afbac1
 */

 body {
    max-width: 1980px;
    background: #000;
    height: 900px;
 }

 .main-content {
    max-width: 1980px;
    height: 900px;
    background: #d9d9d9;
}

 .container {
    max-width: 1980px;
    display: flex;
    padding: 5em;
    margin: 1em;
}

.cards-list {
    max-width: 1900px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.card {
    flex: 0 0 30%;
    border: 1px solid #000;
}

.card .media {
    display: block;
    width: 100%;
    height: 55%;
}

/*.content {
    display: flex;
    flex-direction: column;
    padding: 2em;
}

.content h4 {
    color: #464a4f;
}

.content h2 {
    font-size: 1.8em;
    font-weight: 300;
    padding-bottom: 0.5em;
}

.content p {
    font-size: 1.2em;
    color: #464a4f;
} */

.info {
    /* display: flex; */
    /* flex-direction: row;
    gap: 40px; */
}

/* .info .person {
    display: block;
    width: 3em;
    height: 3em;
} */