@import 'https://use.fontawesome.com/releases/v6.4.0/css/all.css';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Raleway:ital,wght@0,400;0,500;1,400;1,500&display=swap');


:root {
    --gray-light: #efefef;
    --gray-dark: #909090;
    --gray-black: #222222;
}

html {
    font-family: 'Raleway', sans-serif;
}

body, input, textarea {
    font: inherit;
}
/* Global styles */
body {
    color: var(--gray-black);
}

.page-section {
    max-width: 1880px;
    margin: 1.5rem auto;
    height: calc(100vh - 1.5rem);
    background: var(--gray-light);
    padding: 3rem 5rem;
    overflow: hidden;
}

.section-flexed {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

.page-section .title {
    font-size: 3rem;
    font-weight: normal;
    margin-bottom: 2.5rem;
}

.page-section .desc {
    font-style: italic;
    margin-bottom: 2rem;
}

.page-section .title .bolded {
    font-weight: bold;
}

.section-flexed .section-info {
    flex: 0 0 50%;
}

.section-flexed .section-img {
    flex: 0 1 35%;
}

.page-section .divider.vertical {
    height: 6rem;
    width: 1px;
    background: var(--gray-black);
}

/* Hero */
#hero.page-section {
    position: relative;
}

#hero .navigation {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
}

#hero .hero-img {
    position: absolute;
    width: 50%;
    bottom: 0px;
    right: 5rem;
}

/* Camera */
#camera .socials {
    display: flex;
    align-items: center;
    gap: 2rem;
}

#camera .socials .social {
    list-style: none;
    width: 3rem;
    height: 3rem;
    background: var(--gray-dark);
    color: #fff;
    border-radius: 3px;
    position: relative;
}

#camera .socials .social i {
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Gallery */
#gallery {
    display: flex;
    align-items: center;
}

.page-section .list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#gallery .list li {
    list-style: none;
}

#gallery .picture img {
    width: 100%;
    height: auto;
}

/* #gallery .list .picture {
    transform: scale(1);
    transition: transform 300ms ease-in-out;
} */

#gallery .list .picture:hover {
    transform: scale(1.5);
    /* z-index: 1; */
}

/* Contacts */
#contacts .form {
    max-width: 700px;
    margin: 0 auto;
    display: grid;
    gap: 1.25rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "email subject"
    "msg msg"
    "submit submit";
}

#contacts .form .email { grid-area: email; }

#contacts .form .subject { grid-area: subject; }

#contacts .form .msg { grid-area: msg; }

#contacts .form .btn { grid-area: submit; }

#contacts .form input,
#contacts .form textarea {
    background: transparent;
    border: 1px solid var(--gray-black);
    padding: 0.25rem;
    width: 100%;
    height: auto;
}

#contacts .form textarea {
    resize: none;
}

#contacts .form .btn {
    width: 100%;
    padding: 0.5rem;
    text-align: center;
    background: var(--gray-black);
    border: 1px solid var(--gray-black);
    color: #fff;
}

#contacts .form input::placeholder,
#contacts .form textarea::placeholder {
    color: #000;
    padding: 0.5rem;
}