body {
    background: #000;
}

.site {
    max-width: 1920px;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: url(../image/fitness-main.jpg);
    background-size: 100% auto;
    background-position: center -21em;
    background-repeat: no-repeat;
}

.site-footer {
    margin-top: auto;
}