@media (width <=600px) {

    .site {
        background-size: 100% auto;
        background-position: center 0;
    }

    .top-bar {
        flex-direction: column;
    }

    .main-nav {
        justify-content: center;
    }

    .main-nav ul {
        flex-direction: column;
        align-items: center;
    }

    .section-banner {
        padding-top: 5em;
        padding-bottom: 5em;
    }

    .section-banner h2 {
        max-width: 8em;
    }

    .columns {
        flex-direction: column;
        gap: 2em;
    }

    







}   