@import url('');

@import 'https://use.fontawesome.com/releases/v6.4.0/css/all.css';

* {
    padding: 0;
    margin: 0;
}

*, *::before, *::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font: 16px/1.5 'Inter', sans-serif;
}

body, input, textarea {
    font: inherit;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5em;
    line-height: 1.2;
}

h1 { font-size: 2.8em; }
h2 { font-size: 2.2em; }
h3 { font-size: 1.8em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1em; }

p, ul, ol, dl {
    padding-bottom: 1.5em;
}

.site {
    max-width: 1980px;
    display: flex;
}

.site-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Navigation */
.main-nav {
    display: flex;
    flex-direction: row;
    
}

.main-nav ul {
    display: flex;
    gap: 2em;
    justify-content: space-between;
}

.main-nav li {
    list-style: none;
}

.main-nav li,
.main-nav a {
    display: block;
}

.main-nav a {
    text-decoration: none;
    color: #000;
    font-size: 1em;
}




.login {
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.login li,
.login a {
    display: block;
}

.login a {
    text-decoration: none;
    color: #000;
    font-size: 1em;
}