* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(238, 238, 238);
    margin: 2em 7em;
}

img {
    background-color: rgb(255, 255, 255);
}

p {
    padding: 10px;
}

aside a {
    color: rgb(0, 153, 0);
}

.page header {
    display: flex;
}

.page > header {
    text-transform: uppercase;
    border-bottom: 2px solid #000;
    flex-basis: 100%;
}

article section p > img {
    display: block;
    border: 3px solid #000;
    background: #fff;
    padding: 0.5em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.3);
}

article img.align-left {
    float: left;
    margin: 0 1em 1em 0;
}

article img.align-right {
    float: right;
    margin: 0 1em 1em 0;
}

blockquote {
    font-style: italic;
    border-left: #000;
    opacity: 0.5;
    padding: 1em;
    width: 40%;
    float: right;
    margin: 0 0 1em 1em;
}

blockquote p:nth-child(2) {
    text-align: right;
}

aside {
    margin: 0 5em;
}