html {
    font: 11px/1.5 Helvetica, sans-serif;
}

@media (width > 400px) {
    html {
        font-size: 12px;
    }
}

@media (width > 600px) {
    html {
        font-size: 13px;
    }
}

@media (width > 800px) {
    html {
        font-size: 14px;
    }
}

@media (width > 1200px) {
    html {
        font-size: 16px;
    }
}

body, input, textarea, button, table, option, select {
    font: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font: 1em/1.2 Georgia, serif;
    margin: 1em 0 0.5em 0;
    padding: 0;
}

h1 { font-size: 2.2rem; }
h2 { font-size: 2.0rem; }
h3 { font-size: 1.8rem; }
h4 { font-size: 1.6rem; }
h5 { font-size: 1.4rem; }
h6 { font-size: 1.2rem; }

p {
    margin: 0;
}

ol, ul, dl {
    margin: 0 0 1.5rem 0;
}

ul, ol {
    padding: 0;
    margin-left: 1.5rem;
}

ul li, ol li {
    list-style-position: inside;
}

