form {
    display: flex;
    justify-content: center;
    padding-bottom: 1.5em;
    gap: 2px;
}

form p {
    padding: 0;
}

form label {
    display: none;
}

input {
    display: block;
    border: none;
    background: #fff;
    padding: 1em 1.5em;
}

input[type="text"] {
    min-width: 30em;
}

input[type="submit"] {
    background: var(--clr-primary);
    color: #fff;
}