body {
    margin: 1em 3em;
}

header {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 2px solid rgb(0,0,0);
}

header nav {
    margin-left: auto;
}

h1 {
    text-transform: uppercase;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

nav li {
    list-style: none;
}

header nav a {
    text-decoration: none;
    color: rgb(0, 153, 0);
    display: block;
    align-self: baseline;
}