* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Helvetica, sans-serif;
}

body {
    background: rgb(238, 238, 238);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    background: rgb(255, 255, 255);
    width: 40%;
    border: 1px solid #DDD;
    border-radius: 0.5em;
    overflow: hidden;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
}

.card .content {
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.card a {
    display: block;
    background: rgb(0, 153, 0);
    text-decoration: none;
    border: 0.5em solid rgb(0, 153, 0);
    border-radius: 0.3em;
    color: #fff;
    /* margin-left: auto; */
    align-self: self-end;
}

.card h3 {
    font: 1em/1.2 Georgia, serif;
    font-weight: bold;
    padding-bottom: 0.5em;
}

.card p {
    padding-bottom: 1.5em;
}

.card .media {
    background: #000;
    position: relative;
    overflow: hidden;
}

.card .media:after {
    display: block;
    content: '';
    padding-top: 56.25%;  /* 9/16 * 100 */
}

.card .media img {
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}